.adminTable{
    margin:0;
    padding: 0;
    td, th {
        vertical-align: middle !important;
    }
    .add-product-form-container{
        .image-input-label{
            background-size: cover;
            background-position: center center;
            width: 80px;
            height: 80px;
            margin-right: 10px;
            text-align: center;
            font-size: 55px;
            cursor: pointer;
            color: black;
        }
        #editProjectTitle,#editProjectShortDescription,#editProjectDescription,#editProjectWorkedByMe{
            padding: 5px;
            padding-left: 7px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 0 7px 1px #8887AC;
        }
        #language_input{
            padding: 3px;
            margin-top: 10px;
            margin-left: 10px;
            padding-left: 5px;
            border-radius: 20px;
        }
        #add_language_button{
            padding: 2px 18px;
            cursor: pointer;
            text-align: center;
            background-color: #adafae;
            border: none;
            border-radius: 15px;
            margin-left: 5px;
        }
        #add_image_button{
            padding: 2px 18px;
            cursor: pointer;
            text-align: center;
            background-color: #adafae;
            border: none;
            border-radius: 15px;
            margin-left: 5px;
        }
        .language_block{
            border-radius: 50px;
            padding-left: 5px;
        }
        label{
            margin-bottom:5px !important;
            margin-top: 10px;
            font-style: italic;
        }
        textarea{
            padding: 3px;
        }
    }

}
