@import "portfolio.scss";
@import "project.scss";
@import "adminLogin.scss";
@import "adminTable.scss";

* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

